---
import Subscribe from "../components/Subscribe.astro";
import joeRobertLogo from "../../public/icons/joeRobertLogo.svg";
import Image from "astro/components/Image.astro";

const navLinks = [
    {
        name: "About",
        url: "#about",
    },
    {
        name: "Newsletter",
        url: "#newsletter",
    },
    {
        name: "Articles",
        url: "#articles",
    },
];
---

<style>
    .nav-header {
        padding: 1rem 1rem;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 10;
        background-color: #fefefe;
        border-bottom: 1px solid #dbe2eb;
        box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.05);
    }

    .nav-container {
        max-width: 1260px;
        margin: 0 auto;
    }

    .nav-buttons {
        display: flex;
        justify-content: space-between;
    }

    .navigation {
        position: absolute;
        left: 0;
        right: 0;
        padding: 0 1rem;
        padding-bottom: 3rem;

        display: none;
        opacity: 0;
    }

    ul {
        margin: 2rem 0;
    }

    li {
        padding: 1.5rem 0;
        border-bottom: 1px solid #dbe2eb;
    }

    li a {
        color: #546071;
        text-decoration: none;
        font-size: 1.5rem;
    }

    .menu-subscribe {
        text-align: center;
    }

    .hero-second-subtitle {
        font-size: 1.125rem;
        line-height: 2rem;
        font-weight: 300;
        margin-bottom: 1rem;
        color: #2a3340;
    }

    .start {
        font-size: 2.25rem;
        line-height: 3rem;
        margin-bottom: 1rem;
        color: #151a20;
    }

    .stop-scrolling {
        height: 100%;
        overflow: hidden;
    }

    .desktop-nav {
        display: none;
    }

    .menu-button {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    .menu-button span {
            width: 2.2rem;
            height: 2.1px;
            background-color: black;
            display: block;
        }

    @media only screen and (min-width: 600px) {
        .nav-header {
            padding: 2rem;
        }
    }

    @media only screen and (min-width: 900px) {
        .menu-button {
            display: none;
        }

        .nav-buttons {
        }

        .desktop-nav {
            display: block;
        }

        .desktop-nav ul {
            display: flex;
            flex: 1;
            margin: 0;
            gap: 3rem;
        }

        .desktop-nav ul li {
            padding: 0;
            border-bottom: none;
        }

        .desktop-nav ul li a {
            font-size: 1rem;
        }
    }
</style>

<div class="nav-header">
    <div class="nav-container">
        <div class="nav-buttons">
            <Image src={joeRobertLogo} alt="Joe Robert Logo" />

            <!-- <svg
                class="menu-button"
                width="32"
                height="22"
                viewBox="0 0 32 22"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
            >
                <rect class="line1" width="32" height="2" fill="#2A3340"></rect>
                <rect class="line2" y="10" width="32" height="2" fill="#2A3340"
                ></rect>
                <rect class="line3" y="20" width="32" height="2" fill="#2A3340"
                ></rect>
            </svg> -->

            <div class="menu-button" id="hamburger">
                <span class="line1"></span>
                <span class="line2"></span>
                <span class="line3"></span>
            </div>

            <div class="desktop-nav">
                <nav>
                    <ul>
                        {
                            navLinks.map((link) => (
                                <li class="link-container">
                                    <div class="link">
                                        <a href="${link.url}">{link.name}</a>
                                    </div>
                                </li>
                            ))
                        }
                    </ul>
                </nav>
            </div>
        </div>

        <div class="navigation">
            <nav>
                <ul>
                    {
                        navLinks.map((link) => (
                            <li class="link-container">
                                <div class="link">
                                    <a href="${link.url}">{link.name}</a>
                                </div>
                            </li>
                        ))
                    }
                </ul>
            </nav>
            <div class="menu-subscribe">
                <p class="start">Start Here</p>
                <p class="hero-second-subtitle">
                    Join thousands of readers of Joe's Accredited Insights for
                    tips, strategies, and resources to become a steward of your
                    own capital.
                </p>

                <Subscribe />
            </div>
        </div>
    </div>
</div>

<script>
    const menubutton = document.querySelector(".menu-button");
    let toggler = 0;

    // gsap.to(".line1, .line3", { x: -8 });

    const menuOpener = gsap.timeline({ defaults: { duration: 0.15 } });
    menuOpener.pause();

    menuOpener.to(".line1", { x: 0, duration: 0.15 }, 0);
    menuOpener.to(".line3", { x: 0, duration: 0.15 }, 0);

    menuOpener.to(".line2", { width: 0, duration: 0.1 }, 0.4);

    menuOpener.to(".line1", { y: 10 }, 0.3);
    menuOpener.to(".line3", { y: -10 }, 0.3);

    menuOpener.to(".line1", { rotation: -40 }, 0.6);
    menuOpener.to(".line3", { rotation: 40 }, 0.6);

    menubutton.addEventListener("click", function () {
        if (toggler == 0) {
            toggler = 1;
            // prevent scroll
            gsap.to("body", { height: "100%", overflow: "hidden" });

            // menu opener
            gsap.to(".nav-header", { height: "100%", duration: 0.5 });
            gsap.to(".navigation", {
                display: "block",
                opacity: 1,
                delay: 0.5,
            });

            menuOpener.play(0);
        } else {
            toggler = 0;
            //allow scroll
            gsap.to("body", { height: "auto", overflow: "visible" });

            // menu closer
            gsap.to(".nav-header", { height: "auto", duration: 0.5 });
            gsap.to(".navigation", {
                display: "none",
                opacity: 0,
                duration: 0,
            });

            menuOpener.reverse();

            console.log("closed");
        }
    });

    /* When the user scrolls down, hide the navbar. When the user scrolls up, show the navbar */
    let prevScrollpos = window.scrollY;
    window.onscroll = function () {
        let currentScrollPos = window.scrollY;

        // If scrolling up or at the top of the page, keep the menu visible
        if (currentScrollPos <= 0) {
            gsap.to(".nav-header", { top: 0, duration: 0.3 });
        } else if (prevScrollpos > currentScrollPos) {
            // If scrolling up but not at the very top, make the menu visible
            gsap.to(".nav-header", { top: 0, duration: 0.3 });
        } else {
            // If scrolling down, hide the menu
            gsap.to(".nav-header", { top: -96, duration: 0.5 });
        }

        prevScrollpos = currentScrollPos;
    };
</script>
